.original-page{
    .header{
        .swiper-wrapper{
            display: flex;
            width: 100%;
            height: 80%;
            .swipers{
                position: relative;
                width: calc(100%/3);
                height: 580px;
                &__texte{
                    position: absolute;
                    top: 5%;
                    left: 10%;
                }
            }
            .swipers:nth-of-type(1){
                background: url('../../img/bg-img/3.jpg') center/cover;
                background-color: rgba(0, 0, 0, 0.507);
                background-blend-mode: multiply;
            }
            .swipers:nth-of-type(2){
                background: url('../../img/bg-img/2.jpg') center/cover;
                background-color: rgba(0, 0, 0, 0.507);
                background-blend-mode: multiply;
            }
            .swipers:nth-of-type(3){
                background: url('../../img/bg-img/1.jpg') center/cover;
                background-color: rgba(0, 0, 0, 0.507);
                background-blend-mode: multiply;
            }
        }
    }
    
    .articles{
        &__primary{
            margin-bottom: 130px;
            display: flex;
            gap: 30px;
                .flex-colonne01{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 100px;
                }
                .politices{
                    img{
                        width: 100%;
                    }
                    .footer-article{
                        display: flex;
                        justify-content: space-between;
                        .btn{
                            text-transform: uppercase;
                            a{
                                color: #1E1E1E;
                                padding: 18px 19px;
                                border: 1px solid #1E1E1E;
                                transition: all .3s ease-in-out;
                                i{
                                    margin-left: 10px;
                                }
                            }
                        }
                        &__socials{
                            a{
                                margin-left: 20px;
                                i{
                                    opacity: .4;
                                    color: #1E1E1E;
                                    transition: all .3s ease-in-out;
                                }
                                
                            }
                        }
                    }
                    .footer-article:hover .btn a{
                        border: 1px solid #FF0303;
                        color: #FF0303;
                    }
                    .footer-article__socials a:hover i{
                        opacity: 1;
                        color: #FF0303;
                    }
                }
                .most-popular{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .news, .life{
                        width: 100%;
                        display: flex;
                        flex-direction: row-reverse;
                        gap: 25px;
                        .image{
                            width: 30%;
                            img{
                                width: 100%;
                            }
                        }
                        .titles{
                            width: 70%;
                        }
                    }
                }
                .flex-colonne02{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 30px;
                }
                .breaking-news{
                    .top-card{
                        background: #FF0303;
                        height: 30px;
                        line-height: 30px;
                        width: 50%;
                        text-align: center;
                    }
                    .news{
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        width: 100%;
                            img{
                                width: 100%;
                                height: auto;
                                z-index: -1;
                            }
                            &__titles{
                                width: 100%;
                                background-color: #1d1d1d92;
                                position: absolute;
                                top: 0;
                                z-index: 2;
                            }
                            .texte-pt{
                                position: absolute;
                                bottom: 0;
                                z-index: 1;
                                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.48783263305322133) 50%);
                                padding: 20px;
                            }
                        }
                    .life{
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                            img{
                                object-fit: cover;
                                object-position: center;
                                max-width: 100%;
                                height: auto;
                            }
                            &__titles{
                                width: 100%;
                                background-color: #1d1d1d92;
                                position: absolute;
                                top: 0;
                                z-index: 1;
                            }
                            .texte-pt{
                                position: absolute;
                                bottom: 0;
                                z-index: 1;
                                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.48783263305322133) 50%);
                                padding: 20px;
                            }
                        }
                    }
                
                .breaking-news, .dont-miss, .advert, .subscribe{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    width: 255px;
                        img{
                            width: 100%;
                        }
                }
                .subscribe__form{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    input{
                        border: 0;
                        height: 40px;
                    }
                    #email{
                        background: #F5F5F5;
                        padding: 10px;
                        color: #1D1D1D;
                    }
                    #submit{
                        background: #FF0303;
                        padding: 10px;
                        text-transform: uppercase;
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .dont-miss{
                    img{
                        width: 72px;
                    }
                    .dont-miss-row{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                    }
                    .dont-miss-row>*{
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        gap: 30px;
                    }
                }
        }
        &__secondary{
            margin-bottom: 130px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-items: center;
            gap: 30px;
            .large{
                img{
                    width: 100%;
                }
            }
            .group-small{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                gap: 30px;
                width: 350px;
                .small{
                    width: 160px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        
    }
    .video-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        gap: 25px;
        .video{
            img{
                width: 100%;
                display: block;
                filter: brightness(1);
                transition: all .3s ease-in-out;
            }
        }
        .video__image:hover img{
            filter: brightness(0.4);
        }
        .video__image{
            position: relative;
        }
    }
    .triangle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    .master-video-grid{
        background: #F6F6F6;
        padding: 100px;
    }
    .master-swiper-grid{
        background: #1D1D1D;
    }
}